<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Temp</servlet-name>
		<servlet-class>bookclub.server.TempServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Temp</servlet-name>
		<url-pattern>/temp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddClub</servlet-name>
		<servlet-class>bookclub.server.AddClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClub</servlet-name>
		<url-pattern>/addclub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchClub</servlet-name>
		<servlet-class>bookclub.server.SearchClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchClub</servlet-name>
		<url-pattern>/searchclub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetClubById</servlet-name>
		<servlet-class>bookclub.server.GetClubByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetClubById</servlet-name>
		<url-pattern>/getclubbyid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>bookclub.server.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchBook</servlet-name>
		<servlet-class>bookclub.server.SearchBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBook</servlet-name>
		<url-pattern>/searchbook</url-pattern>
	</servlet-mapping>
	


</web-app>
