<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Temp</servlet-name>
		<servlet-class>bookclub.server.TempServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Temp</servlet-name>
		<url-pattern>/temp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddClub</servlet-name>
		<servlet-class>bookclub.server.AddClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClub</servlet-name>
		<url-pattern>/addclub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchClub</servlet-name>
		<servlet-class>bookclub.server.SearchClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchClub</servlet-name>
		<url-pattern>/searchclub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteClub</servlet-name>
		<servlet-class>bookclub.server.DeleteClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClub</servlet-name>
		<url-pattern>/deleteclub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JoinClub</servlet-name>
		<servlet-class>bookclub.server.JoinClubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinClub</servlet-name>
		<url-pattern>/joinclub</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>bookclub.server.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteBook</servlet-name>
		<servlet-class>bookclub.server.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBook</servlet-name>
		<url-pattern>/deletebook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchBook</servlet-name>
		<servlet-class>bookclub.server.SearchBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBook</servlet-name>
		<url-pattern>/searchbook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangeBookStatus</servlet-name>
		<servlet-class>bookclub.server.ChangeBookStatusServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeBookStatus</servlet-name>
		<url-pattern>/changebookstatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddSuggestedbook</servlet-name>
		<servlet-class>bookclub.server.AddSuggestedbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSuggestedbook</servlet-name>
		<url-pattern>/addsuggestedbook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VoteToSuggestedbook</servlet-name>
		<servlet-class>bookclub.server.VoteToSuggestedbookServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VoteToSuggestedbook</servlet-name>
		<url-pattern>/votetosuggestedbook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddMeeting</servlet-name>
		<servlet-class>bookclub.server.AddMeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMeeting</servlet-name>
		<url-pattern>/addmeeting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JoinMeeting</servlet-name>
		<servlet-class>bookclub.server.JoinMeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinMeeting</servlet-name>
		<url-pattern>/joinmeeting</url-pattern>
	</servlet-mapping>


</web-app>
